#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Encoding=UTF-8
Comment=The web browser from Google
Exec=/usr/bin/google-chrome --proxy-pac-url=http://proxyconfig.corp.google.com/wpad.dat --password-store=basic
Terminal=false
Icon=/opt/google/chrome-beta/product_logo_48.png
Type=Application
Categories=Application;Network;
Comment[en_AU]=The web browser from Google
Name[en]=Chrome
Name=Chrome
